.author-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    cursor:pointer;
}
.author-nav a{
    color:white;
    text-decoration: none;
}
